
/* Gallery
/* ######################################################################################### */
:root {
    --nui-gallery: "nui_gallery_2.0.0";
}

body {
    --gallery-shade0: 255,255,255;
    --gallery-shadeX:0,0,0;  
    --gallery-box-background: rgb(var(--gallery-shade0));
    --gallery-box-border: solid thin rgba(var(--gallery-shadeX),0.4);
    --gallery-box-shadow: 0 0 2rem 0 rgba(0,0,0,0.3);
}

body.dark {
    --gallery-shade0: 0,0,0;
    --gallery-shadeX:255,255,255;  
    --gallery-box-background: rgb(var(--gallery-shade0));
    --gallery-box-border: solid thin rgba(var(--gallery-shadeX),0.15);
    --gallery-box-shadow: 0 0 2rem 0 rgba(0,0,0,0.3);
}


.nui-gallery {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--gallery-box-background);
    border: var(--gallery-box-border);
    box-shadow: var(--gallery-box-shadow);
    opacity: 0;
    transition: opacity 0.3s;
}

.nui-gallery:focus {
    outline-style: solid;
    outline-width: thin;
    outline-color: rgba(var(--gallery-shadeX),0.3);
}

.nui-gallery .nui-gallery-frame{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nui-gallery .nui-gallery-trigger{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(0,255,255,0);
    z-index: 1;
}


.nui-gallery .nui-gallery-content{
    position: absolute;
    inset: 0;
}

.nui-gallery .nui-gallery-content .nui-gallery-item {
    position: absolute;
    top:0;
    left:-200%;
    width: 100%;
    height: 100%;
    
}

.nui-gallery .nui-gallery-content .nui-gallery-item.loading > img {
    opacity: 0;
    display: 'none';
}

.nui-gallery .nui-gallery-content .nui-gallery-item > * {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s;
}

/* Controls 
########################################################################################################### */

.nui-gallery.controls .nui-gallery-controls {
    position: absolute;
    z-index: 10;
    display: block;
}

.nui-gallery.controls .nui-gallery-controls .nui-gallery-info{
    position: absolute;
    left: 1.2rem;
    top: 1.2rem;
    display: flex;
    background-color: rgba(30,30,30,0.5);
    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.3rem;
    max-width: 50%;
    align-items: center;
}

.nui-gallery.controls .nui-gallery-controls .nui-gallery-info .nui-gallery-info-name{
    height: 100%;
    width:auto;
    color: white;
    word-wrap: break-word;
    opacity: 0.5;
}
.nui-gallery.controls .nui-gallery-controls .nui-gallery-fullscreen{
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    width: 3rem;
    height: 3rem;
    background-color: rgba(30,30,30,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    pointer-events: all;
    z-index: 10;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s;
}

.nui-gallery.controls .nui-gallery-controls .nui-gallery-fullscreen:hover{
    opacity: 1;
    background-color: rgba(30,30,30,0.5);
}

.nui-gallery .nui-gallery-controls {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.4s;
    display: none;
}

.nui-gallery .nui-gallery-controls .nui-gallery-arrow {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: opacity 0.2s;
    
}
.nui-gallery .nui-gallery-controls .nui-gallery-arrow .nui-icon{
    width: 3.5rem;
    height: 3.5rem;
    fill: white;
    filter: drop-shadow(0 0 0.2rem rgba(0,0,0,1))
}

.nui-gallery .nui-gallery-controls .nui-gallery-arrow.left{
    left:0;
    justify-content: flex-start;
    margin-right: 0;
    margin-left: 1rem;
}

.nui-gallery .nui-gallery-controls .nui-gallery-arrow.left .nui-icon{
    transform: rotate(180deg);
}

/* Bubbles 
########################################################################################################### */

.nui-gallery.bubbles {
    margin-bottom: 5rem;
}

.nui-gallery.bubbles .nui-gallery-bubbles{
    display: flex;
}

.nui-gallery .nui-gallery-bubbles {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    bottom:-3.5rem;
    height: 3.5rem;
    width: 100%;
    z-index: 1;
    pointer-events: all;
}

.nui-gallery .nui-gallery-bubbles .nui-gallery-bubble{
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nui-gallery .nui-gallery-bubbles .nui-gallery-bubble::before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    border: solid 0.1rem rgba(var(--gallery-shadeX),1);
    border-radius: 50%;
}

.nui-gallery .nui-gallery-bubbles .nui-gallery-bubble:hover{
    opacity: 1;
}
.nui-gallery .nui-gallery-bubbles .nui-gallery-bubble.active::before{
    border: solid 0.1rem rgba(var(--gallery-shadeX),0);
    background-color: rgba(var(--gallery-shadeX),1);
}


/* n000b Loader Spinner */
/* ######################################################################################### */

.nui-gallery .nui-gallery-item .nui-gallery-loader {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
	justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
}
.nui-gallery .nui-gallery-item.loading .nui-gallery-loader {
    opacity: 1;
}

.nui-gallery .nui-gallery-item .nui-gallery-spinner {
	display: flex;
	justify-content: center;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	border: 0.3rem solid rgba(255,255,255,0.3);
    background-color: rgba(40,40,40,0.3);
}

.nui-gallery .nui-gallery-item .nui-gallery-spinner:after {
	display: flex;
	margin: auto;
	content: "";
	width: 70%;
	height: 70%;
	border-radius: 50%;
	border: 0.3rem solid #fff;
	border-color: rgba(255,255,255, 0) rgba(255,255,255, 0.7) rgba(255,255,255, 0) rgba(255,255,255,0.7);
	animation: full_rotation 1.5s linear infinite;
}

@keyframes full_rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  